In [406]:
from pyspark.sql import SparkSession
import mysql.connector
import requests
import pyspark.sql.functions as F
import logging
import os

In [407]:
spark = SparkSession.builder \
    .appName("ReadMySQLTable") \
    .config("spark.jars", "/usr/share/java/mysql-connector-java-9.1.0.jar") \
    .getOrCreate()

In [429]:
# Define context variables
context = {
    "mysql_server": "10.11.12.125",
    "mysql_port": "3306",
    "mysql_database": "PPMWeb_Prod_22_Oct_2024",
    "mysql_user": "teamuser",
    "mysql_password": "sigma5678",
    "import_files_dir": "/home/innv1admn/ppminput/csv/",
    "ImportFilesDir": "D:/MyProjects/Official/ETL/PROJECTOR_PPM/InputFiles/",
    "OutputFilesDir": "D:/MyProjects/Official/ETL/PROJECTOR_PPM/OutputFiles/",
    "ppmdb_Server": "10.11.12.125",
    "ppmdb_Port": "3306",
    "ppmdb_Database": "PPMWeb_Prod_22_Oct_2024",
    "ppmdb_Login": "teamuser",
    "ppmdb_Password": "sigma5678"
}

In [252]:
# url = "jdbc:mysql://10.11.12.125:3306/PPMWeb_Prod_22_Oct_2024"
# table = "sales_territories"
# connection_properties = {
#     "user": "teamuser",
#     "password": "sigma5678",
#     "driver": "com.mysql.cj.jdbc.Driver"
}

In [430]:
# Establish MySQL connection
jdbc_url = f"jdbc:mysql://{context['mysql_server']}:{context['mysql_port']}/{context['mysql_database']}"
connection_properties = {
    "user": context["mysql_user"],
    "password": context["mysql_password"],
    "driver": "com.mysql.cj.jdbc.Driver"
}

In [412]:
db_connection = mysql.connector.connect(
    host=context["ppmdb_Server"],
    port=context["ppmdb_Port"],
    database=context["ppmdb_Database"],
    user=context["ppmdb_Login"],
    password=context["ppmdb_Password"]
)

In [431]:
# Fetch CSV File from URL
url = "https://app.projectorpsa.com/report/code/ProjectorPPMAccountList?format=csv&columnheaders=firstrow&UserName=bala.peddi@prolifics.com&Password=Mylife@2016"
response = requests.get(url)
csv_file_path = f"{context['import_files_dir']}/projectorAccounts.csv"
with open(csv_file_path, 'wb') as file:
    file.write(response.content)

In [ ]:


# if os.path.exists(file_path):
#     print(f"File exists at: {os.path.abspath(file_path)}")
# else:
#     print("File not found. Please check the folder path.")


# print(f"Current working directory: {os.getcwd()}")

# # Change the working directory to your home folder or a specific folder
# os.chdir("ppminput/csv")  # Replace with your desired path
# print(f"Working directory changed to: {os.getcwd()}")

# # Define the folder path relative to the current working directory
# folder_path = "ppminput/csv"

# # Create the folder structure
# os.makedirs(folder_path, exist_ok=True)

# print(f"Folder created at: {os.path.abspath(folder_path)}")

In [432]:
# change in column names
df = (spark.read.csv(csv_file_path, header=True, inferSchema=True)
.withColumnRenamed("Project Location","ProjectLocation")
.withColumnRenamed("Client Industry","ClientIndustry")
.withColumnRenamed("Client SFA URL","ClientSFAURL")
.withColumnRenamed("Client Inactive (Yes/No)","ClientInactive")
.withColumnRenamed("Client Number","ClientNumber")
.withColumnRenamed("Client Name","ClientName"))

In [254]:
# change in Expressions

sales_territory_df = df.select(
    F.expr("substring(ProjectLocation, 1, 9)").alias("territory_code"),
    F.regexp_replace("ProjectLocation", "[^\\x00-\\x7F]", "").alias("full_name"),
    F.regexp_replace("ProjectLocation", "[^\\x00-\\x7F]", "").alias("territory_location"),
    F.regexp_replace("ProjectLocation", "[^\\x00-\\x7F]", "").alias("description")
)

In [255]:
# Filter and Load New Sales Territory Data
existing_territories_df = spark.read.jdbc(jdbc_url, "sales_territories", properties=connection_properties)

In [256]:
new_territories_df = sales_territory_df.join(existing_territories_df, sales_territory_df.territory_code == existing_territories_df.territory_code, "left_anti")

In [257]:
new_territories_df.show()

+--------------+---------+------------------+-----------+
|territory_code|full_name|territory_location|description|
+--------------+---------+------------------+-----------+
+--------------+---------+------------------+-----------+

In [260]:
# new_territories_df.write.jdbc(jdbc_url, "sales_territories", mode="append", properties=connection_properties)

In [238]:
#-----------------------------------------PART 2---------------------------------------

In [276]:
# Transform Industry Data #changes made
industry_df = df.select(
    lit(2).alias("lkup_type_group_id"),
    col("ClientIndustry").alias("lkup_name"),
    col("ClientIndustry").alias("description"),
    lit(True).alias("is_active")
)

In [277]:
# Filter and Load New Industry Data
existing_industries_df = spark.read.jdbc(jdbc_url, "lkup_types", properties=connection_properties).filter("lkup_type_group_id = 2")

In [278]:
new_industries_df = industry_df.join(existing_industries_df, industry_df.lkup_name == existing_industries_df.lkup_name, "left_anti")

In [266]:
new_industries_df.show()

+------------------+---------+-----------+---------+
|lkup_type_group_id|lkup_name|description|is_active|
+------------------+---------+-----------+---------+
|                 2|     NULL|       NULL|     true|
|                 2|     NULL|       NULL|     true|
|                 2|     NULL|       NULL|     true|
|                 2|     NULL|       NULL|     true|
|                 2|     NULL|       NULL|     true|
|                 2|     NULL|       NULL|     true|
|                 2|     NULL|       NULL|     true|
|                 2|     NULL|       NULL|     true|
|                 2|     NULL|       NULL|     true|
|                 2|     NULL|       NULL|     true|
|                 2|     NULL|       NULL|     true|
|                 2|     NULL|       NULL|     true|
|                 2|     NULL|       NULL|     true|
|                 2|     NULL|       NULL|     true|
|                 2|     NULL|       NULL|     true|
|                 2|     NULL|       NULL|     true|
|                 2|     NULL|       NULL|     true|
|                 2|     NULL|       NULL|     true|
|                 2|     NULL|       NULL|     true|
|                 2|     NULL|       NULL|     true|
+------------------+---------+-----------+---------+
only showing top 20 rows

In [ ]:
# new_industries_df.write.jdbc(jdbc_url, "lkup_types", mode="append", properties=connection_properties)

In [ ]:
#----------------------------------------PART 3--------------------------------------

In [281]:
#-----------------------------------PART 3 NEW CODE-----------------------------------

In [298]:
#new code 

df_final = df.join(
    existing_territories_df,
    df["ProjectLocation"] == existing_territories_df["territory_code"],
    "left_outer" 
).withColumnRenamed("id","sales_territ_id").join(
    existing_industries_df,
    df["ClientIndustry"] == existing_industries_df["lkup_name"],
    "left_outer" )
# df_final.show()

In [306]:
#new code
df_3 = df_final.select( 
    F.col("ClientNumber").alias("cust_code"),
    F.regexp_replace("ClientName", "[^\\x00-\\x7F]", "").alias("full_name"),
    F.col("id").alias("typ_industry_id"),
    col("ClientSFAURL").alias("website"),
    F.when(F.col("ClientInactive") == "No", 161).otherwise(162).alias("typ_cust_status_id"),
    col("sales_territ_id").alias("sales_territory_id"),
    F.when(F.col("ClientInactive") == "No", True).otherwise(False).alias("is_active")
    
)

# df_3.show()

In [320]:
#AGGREGATE DATA BY cust_code, full_name FILEDS
df_aggregated = (df_3.groupBy("cust_code", "full_name").agg(
    max("typ_industry_id").alias("typ_industry_id"), 
    max("website").alias("website"), 
    max("typ_cust_status_id").alias("typ_cust_status_id"), 
    max("sales_territory_id").alias("sales_territory_id"), 
    first("is_active").alias("is_active"), 
))

df_aggregated.count()

2005

In [ ]:
#---------------------------------ORIGINAL PART3 CODE------------------------------

In [310]:
# Transform Client Data #changes made
client_df = df.select(
    F.col("ClientNumber").alias("cust_code"),
    F.regexp_replace("ClientName", "[^\\x00-\\x7F]", "").alias("full_name"),
    F.lit(None).alias("typ_industry_id"),#cahaged this
    F.col("ClientSFAURL").alias("website"),
    F.when(F.col("ClientInactive") == "No", 161).otherwise(162).alias("typ_cust_status_id"),
    F.lit(None).alias("sales_territory_id"),#cahaged this
    F.when(F.col("ClientInactive") == "No", True).otherwise(False).alias("is_active")
)

In [316]:
# Aggregate and Load Client Data
aggregated_client_df = client_df.groupBy("cust_code", "full_name").agg(
    F.max("typ_industry_id").alias("typ_industry_id"),
    F.max("website").alias("website"),
    F.max("typ_cust_status_id").alias("typ_cust_status_id"),
    F.max("sales_territory_id").alias("sales_territory_id"),
    F.first("is_active").alias("is_active")
)

In [374]:
aggregated_client_df.show()

+-------------+--------------------+---------------+--------------------+------------------+------------------+---------+
|    cust_code|           full_name|typ_industry_id|             website|typ_cust_status_id|sales_territory_id|is_active|
+-------------+--------------------+---------------+--------------------+------------------+------------------+---------+
|       170S01|         170 Systems|           NULL|                NULL|               162|              NULL|    false|
|1ST FORMATION|1st Formations Li...|           NULL|                 tbd|               161|              NULL|     true|
|41STPARMTER01|The 41st Paramete...|           NULL|                NULL|               162|              NULL|    false|
|       AAMC01|Association of Am...|           NULL|                NULL|               162|              NULL|    false|
|        ABC01|          ABC Disney|           NULL|                NULL|               162|              NULL|    false|
|       ACBL01|American Contract...|           NULL|                NULL|               162|              NULL|    false|
|    ACCENDI10|Accenture (UKDIRECT)|           NULL|                NULL|               162|              NULL|    false|
|    ACCENIS10|  Accenture (UKISSI)|           NULL|                NULL|               162|              NULL|    false|
|    ACCENIW10|  Accenture (UKISSW)|           NULL|                NULL|               162|              NULL|    false|
|        ACE01|American Computer...|           NULL|https://na87.sale...|               162|              NULL|    false|
|       ACSC02|Automobile Club O...|           NULL|                NULL|               162|              NULL|    false|
|    ACTAVIS01|       Actavis, Inc.|           NULL|                NULL|               162|              NULL|    false|
|  ACTIONKPI01|Western Financial...|           NULL|             Pending|               162|              NULL|    false|
|     ACUITY01|              Acuity|           NULL|                NULL|               162|              NULL|    false|
|      ADDEC10|   Adecco (UKDIRECT)|           NULL|                NULL|               162|              NULL|    false|
|   ADELANTE01|Adelante Software...|           NULL|https://d30000000...|               162|              NULL|    false|
|      ADENA01|Adena Service Ltd...|           NULL|                 tbd|               161|              NULL|     true|
|      ADOBE01|       Adobe Systems|           NULL|                NULL|               162|              NULL|    false|
|        ADP01|Open Dealer Excha...|           NULL|                NULL|               162|              NULL|    false|
|    ADVANCE01|  Advance Auto Parts|           NULL|                NULL|               161|              NULL|     true|
+-------------+--------------------+---------------+--------------------+------------------+------------------+---------+
only showing top 20 rows

In [ ]:
# aggregated_client_df.write.jdbc(jdbc_url, "projector_customer_tmp", mode="overwrite", properties=connection_properties)

In [364]:
# -------------------------------CALLING BELOW 2 STORED PROCEDURES AFTER PART 3-----------------------------

In [ ]:
conn = mysql.connector.connect(
    host=context['mysql_server'],
    user=context['mysql_user'],
    password=context['mysql_password'],
    database=context['mysql_database']
) 

cursor = conn.cursor()
cursor.callproc('ProcessProjectorAccounts')
conn.commit()

#--------------------------UNCOMMENT BELOW SNIPPET IF WANT TO SEE DATA RETURNED BY PROCEDURE-----------------

# first_result = True
# for result in cursor.stored_results():
#     if first_result:
        
#         rows = result.fetchall()
#         columns = [desc[0] for desc in result.description]  

#         df_ProcessProjectorAccounts_proc = spark.createDataFrame(rows, schema=columns)
#         df_ProcessProjectorAccounts_proc.show()
#         first_result = False 
#     else:
#         break  

cursor.close()
conn.close()

In [436]:
conn = mysql.connector.connect(
    host=context['mysql_server'],
    user=context['mysql_user'],
    password=context['mysql_password'],
    database=context['mysql_database']
) 

cursor = conn.cursor()
cursor.callproc('SyncCustomersWithProspects')
conn.commit()

#--------------------------UNCOMMENT BELOW SNIPPET IF WANT TO SEE DATA RETURNED BY PROCEDURE-------------------

# first_result = True
# for result in cursor.stored_results():
#     if first_result:
        
#         rows = result.fetchall()
#         columns = [desc[0] for desc in result.description]  

#         df_SyncCustomersWithProspects_proc = spark.createDataFrame(rows, schema=columns)
#         df_SyncCustomersWithProspects_proc.show()
#         first_result = False 
#     else:
#         break  


cursor.close()
conn.close()

+--------+--------------------+
|      id|             website|
+--------+--------------------+
| 1551753|https://d30000000...|
| 1552059|https://d30000000...|
| 1552564|https://na2.sales...|
| 1552593|https://d30000000...|
| 1956839|https://na2.sales...|
| 2540690|https://na2.sales...|
| 2612051|https://na2.sales...|
| 2623413|https://na87.sale...|
| 2853559|https://na2.sales...|
| 2853561|https://na2.sales...|
| 3284412|https://na87.sale...|
| 3667922|https://na87.sale...|
|15972987|https://na87.sale...|
|26087285|https://na87.sale...|
|27730999|https://na87.sale...|
|29304173|https://na87.sale...|
|36244913|https://na87.sale...|
|40524222|https://na87.ligh...|
|41317099|https://na87.sale...|
|42255432|https://na87.ligh...|
+--------+--------------------+
only showing top 20 rows

In [ ]:
#---------------------------------------------PART 4 --------------------------------------------

In [369]:

customer_division_df = df.groupBy("ClientNumber").agg(
    F.first("ClientName").alias("ClientName"),
    F.first("ClientIndustry").alias("ClientIndustry"),
    F.first("ClientSFAURL").alias("ClientSFAURL"),
    F.first("ClientInactive").alias("ClientInactive"),
    F.first("ProjectLocation").alias("ProjectLocation")
)

In [370]:
# changes made (commentted last 4)
copyOfcustDivs = customer_division_df.select(
    F.lit(None).alias("id"),
    F.lit("Customer").alias("object_type_code"),
    F.when(F.col("ClientInactive") == "No", False).otherwise(True).alias("is_active"),
    F.lit(None).alias("date_created"),
    F.lit(None).alias("last_updated"),
    F.lit("").alias("created_by"),
    F.lit("").alias("last_updated_by"),
    F.lit(1).alias("created_by_id"),
    F.lit(1).alias("last_updated_by_id"),
    F.lit("UNKNOWN").alias("DivisionName"),
    F.lit("UNKNOWN").alias("DivisionDescription"),
    F.lit("UNKNOWN").alias("DivisionAddress"),
    F.lit("UNKNOWN").alias("DivisionContact"),
    F.col("ClientNumber").alias("CustomerId")
    # F.regexp_replace("ClientName", "[^\\x00-\\x7F]", "").alias("division_name"),
    # F.regexp_replace("ClientIndustry", "[^\\x00-\\x7F]", "").alias("industry"),
    # F.regexp_replace("ClientSFAURL", "[^\\x00-\\x7F]", "").alias("website"),
    # F.regexp_replace("ProjectLocation", "[^\\x00-\\x7F]", "").alias("location")
)

In [ ]:
#----------------REST STEPS ARE MISSING AFTER THIS IN  FLIT 2580------------------------------

In [ ]:
# Insert and Map Division Data
# Assuming `copyOfcustDivs` is a DataFrame with the necessary data
copyOfcustDivs.write.jdbc(jdbc_url, "base_domains", mode="append", properties=connection_properties)

In [ ]:
#-------------------------THIS IS TAKEN FROM FLIT 2581 FOR PART 4----------------------------------

In [437]:
customer_division_df = df.select("ClientNumber", "ClientName", "ClientIndustry", "ClientSFAURL", "ClientInactive", "ProjectLocation")

# Aggregate Customer Division Data
aggregated_customer_division_df = customer_division_df.groupBy("ClientNumber").agg(
    first("ClientName").alias("ClientName"),
    first("ClientIndustry").alias("ClientIndustry"),
    first("ClientSFAURL").alias("ClientSFAURL"),
    first("ClientInactive").alias("ClientInactive"),
    first("ProjectLocation").alias("ProjectLocation")
)
aggregated_customer_division_df.show()

+-------------+--------------------+--------------------+--------------------+--------------+---------------+
| ClientNumber|          ClientName|      ClientIndustry|        ClientSFAURL|ClientInactive|ProjectLocation|
+-------------+--------------------+--------------------+--------------------+--------------+---------------+
|       170S01|         170 Systems|             Finance|                NULL|           Yes|             US|
|1ST FORMATION|1st Formations Li...|               Other|                 tbd|            No|             UK|
|41STPARMTER01|The 41st Paramete...|   Computer Services|                NULL|           Yes|             US|
|       AAMC01|Association of Am...|           Education|                NULL|           Yes|             US|
|        ABC01|          ABC Disney|         Media & Ent|                NULL|           Yes|             US|
|       ACBL01|American Contract...|         Media & Ent|                NULL|           Yes|             US|
|    ACCENDI10|Accenture (UKDIRECT)|   Computer Services|                NULL|           Yes|             UK|
|    ACCENIS10|  Accenture (UKISSI)|   Computer Services|                NULL|           Yes|             UK|
|    ACCENIW10|  Accenture (UKISSW)|   Computer Services|                NULL|           Yes|             UK|
|        ACE01|American Computer...|   Telecommunication|https://na87.sale...|           Yes|             US|
|       ACSC02|Automobile Club O...|           Insurance|                NULL|           Yes|             US|
|    ACTAVIS01|       Actavis, Inc.|         Health Care|                NULL|           Yes|             UK|
|  ACTIONKPI01|Western Financial...|           Insurance|             Pending|           Yes|             US|
|     ACUITY01|              Acuity|           Insurance|                NULL|           Yes|             US|
|      ADDEC10|   Adecco (UKDIRECT)|Business / PS Ser...|                NULL|           Yes|             US|
|   ADELANTE01|Adelante Software...|             Finance|https://d30000000...|           Yes|             UK|
|      ADENA01|Adena Service Ltd...|              Retail|                 tbd|            No|             UK|
|      ADOBE01|       Adobe Systems|   Computer Services|                NULL|           Yes|             US|
|        ADP01|Open Dealer Excha...|             Finance|                NULL|           Yes|             US|
|    ADVANCE01|  Advance Auto Parts|              Retail|                NULL|            No|             US|
+-------------+--------------------+--------------------+--------------------+--------------+---------------+
only showing top 20 rows

In [389]:
# Transform Customer Division Data

customer_division_transformed_df = aggregated_customer_division_df.select(
    F.col("ClientName").alias("DivisionName"),
    F.col("ClientNumber").alias("ClientNumber"),
    F.col("ClientIndustry").alias("DivisionDescription"),
    F.col("ClientSFAURL").alias("DivisionAddress"),
    F.col("ClientInactive").alias("DivisionContact")
)

In [390]:
customer_lookup_df = spark.read.jdbc(url, "customers", properties=mysql_properties) \
    .select("id", "cust_code")

In [393]:
customer_division_transformed_df = customer_division_transformed_df \
    .join(customer_lookup_df, customer_division_transformed_df.ClientNumber == customer_lookup_df.cust_code, "left") \
    .select("DivisionName", "DivisionDescription", "DivisionAddress", "DivisionContact", col("id").alias("CustomerId")
           )

In [394]:
customer_division_transformed_df.show()

+--------------------+--------------------+--------------------+---------------+----------+
|        DivisionName| DivisionDescription|     DivisionAddress|DivisionContact|CustomerId|
+--------------------+--------------------+--------------------+---------------+----------+
|         170 Systems|             Finance|                NULL|            Yes|   1551272|
|1st Formations Li...|               Other|                 tbd|             No| 128283684|
|The 41st Paramete...|   Computer Services|                NULL|            Yes|   1551273|
|Association of Am...|           Education|                NULL|            Yes|   1551274|
|          ABC Disney|         Media & Ent|                NULL|            Yes|   1551275|
|American Contract...|         Media & Ent|                NULL|            Yes|   1551276|
|Accenture (UKDIRECT)|   Computer Services|                NULL|            Yes|   1551277|
|  Accenture (UKISSI)|   Computer Services|                NULL|            Yes|   1551278|
|  Accenture (UKISSW)|   Computer Services|                NULL|            Yes|   1551279|
|American Computer...|   Telecommunication|https://na87.sale...|            Yes|  29063316|
|Automobile Club O...|           Insurance|                NULL|            Yes|   1551280|
|       Actavis, Inc.|         Health Care|                NULL|            Yes|   1551282|
|Western Financial...|           Insurance|             Pending|            Yes| 130723113|
|              Acuity|           Insurance|                NULL|            Yes|   1551283|
|   Adecco (UKDIRECT)|Business / PS Ser...|                NULL|            Yes|   1551284|
|Adelante Software...|             Finance|https://d30000000...|            Yes| 112042055|
|Adena Service Ltd...|              Retail|                 tbd|             No|  63975211|
|       Adobe Systems|   Computer Services|                NULL|            Yes|   1551285|
|Open Dealer Excha...|             Finance|                NULL|            Yes|   1551286|
|  Advance Auto Parts|              Retail|                NULL|             No|   1551287|
+--------------------+--------------------+--------------------+---------------+----------+
only showing top 20 rows

In [ ]:
# Insert Customer Divisions into Base Domains
# customer_division_transformed_df.write.jdbc(mysql_url, "base_domains", mode="append", properties=mysql_properties)

In [ ]:
#------------------NOT SURE ABOUT last_insert_id_df(refer below step for temp last_insert_id_df)----------------------------------

# Get Last Insert ID 
last_insert_id_df = spark.sql("SELECT LAST_INSERT_ID() as last_insert_id")

In [403]:
# --------AS WE ARE NOT SURE ABOUT last_insert_id_df ,FOR NOW CONSIDERING IT AS 9999-----

last_insert_id_df = spark.createDataFrame([Row(id='999')])

In [404]:
# Map Last Insert ID to Division Data
division_data_df = customer_division_transformed_df.crossJoin(last_insert_id_df)

In [405]:
division_data_df.show()

+--------------------+--------------------+--------------------+---------------+----------+---+
|        DivisionName| DivisionDescription|     DivisionAddress|DivisionContact|CustomerId| id|
+--------------------+--------------------+--------------------+---------------+----------+---+
|         170 Systems|             Finance|                NULL|            Yes|   1551272|999|
|1st Formations Li...|               Other|                 tbd|             No| 128283684|999|
|The 41st Paramete...|   Computer Services|                NULL|            Yes|   1551273|999|
|Association of Am...|           Education|                NULL|            Yes|   1551274|999|
|          ABC Disney|         Media & Ent|                NULL|            Yes|   1551275|999|
|American Contract...|         Media & Ent|                NULL|            Yes|   1551276|999|
|Accenture (UKDIRECT)|   Computer Services|                NULL|            Yes|   1551277|999|
|  Accenture (UKISSI)|   Computer Services|                NULL|            Yes|   1551278|999|
|  Accenture (UKISSW)|   Computer Services|                NULL|            Yes|   1551279|999|
|American Computer...|   Telecommunication|https://na87.sale...|            Yes|  29063316|999|
|Automobile Club O...|           Insurance|                NULL|            Yes|   1551280|999|
|       Actavis, Inc.|         Health Care|                NULL|            Yes|   1551282|999|
|Western Financial...|           Insurance|             Pending|            Yes| 130723113|999|
|              Acuity|           Insurance|                NULL|            Yes|   1551283|999|
|   Adecco (UKDIRECT)|Business / PS Ser...|                NULL|            Yes|   1551284|999|
|Adelante Software...|             Finance|https://d30000000...|            Yes| 112042055|999|
|Adena Service Ltd...|              Retail|                 tbd|             No|  63975211|999|
|       Adobe Systems|   Computer Services|                NULL|            Yes|   1551285|999|
|Open Dealer Excha...|             Finance|                NULL|            Yes|   1551286|999|
|  Advance Auto Parts|              Retail|                NULL|             No|   1551287|999|
+--------------------+--------------------+--------------------+---------------+----------+---+
only showing top 20 rows

In [ ]:
# Insert or Update Divisions
# division_data_df.write.jdbc(mysql_url, "divisions", mode="append", properties=mysql_properties)